<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analysis</title>
    </head>
    <body>

        <header>
            <div class="title">
                <h1>Sentiment Analysis</h1>
            </div>
            <span class="sub-title">using meaning cloud API</span>
        </header>

        <main>
            <section>
                <form id="user-form">
                    <!-- <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name"> -->
                    <label for="name">Please enter your text below</label>
                    <textarea id="name" name="input" rows="10"></textarea>
                    <div id="error-message"></div>
                    <div id="top-ref">
                        <h2>What is sentiment analysis?</h2>
                        <div>
                            <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc/2.1/what-is-sentiment-analysis">Read More</a>
                        </div>
                    </div>                    
                    <input class="submit-button" type="submit" name="" value="submit">
                </form>
            <section>
            <section>
                <div id="user-input-section"></div>
            </section>

            <section>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Sentiment Analysis web tool developed by Dilip Agheda as part of Udacity Frontend Nanodegree!</p>
        </footer>

    </body>
</html>
