form {
  textarea {
    padding: 10px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
  }
  label {
    font-size: 20px;
    font-weight: bold;
    color: purple;
  }
  .submit-button {
    background-color: purple;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
  }
}

#top-ref {
  display: flex;
  justify-content: flex-end;
  h2 {
    font-size: 16px;
  }
  div {
    margin-left: 10px;
    a {
      font-size: 14px;
    }
  }
}

#error-message {
  color: red;
}
