header {
  width: 100%;
  padding: 50px;
  background-color: purple;
  text-align: center;
  .title {
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
  }
  .sub-title {
    font-size: 20px;
    color: white;
  }
}
